
DATABASE_URL="file:./db.sqlite"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET= ""

#Stripe
BASE_URL="http://localhost:3000"

#AWS
MY_AWS_ACCESS_KEY=""
MY_AWS_SECRET_KEY=""
MY_AWS_REGION=""
MY_AWS_BUCKET_NAME=""

#Stripe
STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_10_PACK=""
STRIPE_25_PACK=""
STRIPE_100_PACK=""

# Next Auth Discord Provider
# DISCORD_CLIENT_ID=""
# DISCORD_CLIENT_SECRET=""
